<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDataBaseOperator" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDataBaseOperator" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1337/DataBaseOperator" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDataBaseOperator"
                contract="DBServiceReference.IDataBaseOperator" name="BasicHttpBinding_IDataBaseOperator" />
            <endpoint address="net.tcp://localhost:45167/DataBaseOperator"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDataBaseOperator"
                contract="DBServiceReference.IDataBaseOperator" name="NetTcpBinding_IDataBaseOperator">
                <identity>
                    <userPrincipalName value="NAVI\ULTRO" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>